<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://mysql.profries.com:3306/progc1</property>
    <property name="hibernate.connection.username">progc</property>
    <property name="hibernate.connection.password">dombosco</property>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.Produto"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.Venda"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.Cliente"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.ItemVendaId"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.Vendedor"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.ItemVenda"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.NotaFiscal"/>
    <mapping class="br.com.facdombosco.progc.dvo.suprimentos.EstoqueItem"/>
    <mapping class="br.com.facdombosco.progc.dvo.acessos.Usuario"/>
    <mapping class="br.com.facdombosco.progc.dvo.compras.FormaPagamento"/>
    <mapping class="br.com.facdombosco.progc.dvo.compras.Fornecedor"/>
    <mapping class="br.com.facdombosco.progc.dvo.compras.RequisicaoProduto"/>
    <mapping class="br.com.facdombosco.progc.dvo.compras.Requisicao"/>
    <mapping class="br.com.facdombosco.progc.dvo.suprimentos.EstoqueItem"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.NotaFiscal"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.Cliente"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.ItemVendaId"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.ItemVenda"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.Vendedor"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.Venda"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.Produto"/>
    <mapping class="br.com.facdombosco.progc.dvo.suprimentos.EstoqueItem"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.NotaFiscal"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.Cliente"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.ItemVenda"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.Vendedor"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.Venda"/>
    <mapping class="br.com.facdombosco.progc.dvo.vendas.Produto"/>
  </session-factory>
</hibernate-configuration>
