<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://mysql.profries.com:3306/progc1</property>
    <property name="hibernate.connection.username">progc</property>
    <property name="hibernate.connection.password">dombosco</property>
    <property name="hibernate.show_sql">true</property>

    <!-- ACESSOS -->
    <!--<mapping class="br.com.facdombosco.progc.dvo.acessos.Usuario"/>-->

    <!-- VENDAS -->
    <!--<mapping class="br.com.facdombosco.progc.dvo.vendas.Cliente"/>-->
    
    <!-- SUPRIMENTOS -->
    <!--<mapping class="br.com.facdombosco.progc.dvo.suprimentos.Fornecedor"/>-->
    
    <!-- SERVICOS -->
    <!--<mapping class="br.com.facdombosco.progc.dvo.servicos.OrcamentoServico"/>-->
    
  </session-factory>
</hibernate-configuration>
